<div class="mdc-card" style="margin-top: 10px;">
    <div class="mdc-card__content">
        <h1>Name: {{product.name}}</h1>
        <p>{{product.description}}</p>
        <p>Status: {{product.status}}</p>
        <p>Signatures required: {{product.maxStage}}</p>
        {{#if product.createdBy}}
          <p>Added by: {{product.createdBy}}</p>
        {{/if}}
        {{#if product.signatures}}
          <div class="mdf-card__title">Signatures:</div>
          {{#each product.signatures}}
          <ul>
              <li>Stage: {{stage}}</li>
              <li>Signed By: {{name}}</li>
          </ul>
          {{/each}}
        {{/if}}
    </div>
    {{#unless product.completed}}
    <div class="mdc-card__line"></div>
    <div class="mdc-card__actions">
        <form method="post">
            <div class="mdc-form-group">
                <div class="mdc-select">
                    <i class="mdc-select__dropdown-icon"></i>
                    <select class="mdc-select__native-control" name="identity">
                        <option value="" disabled selected></option>
                            {{#each users}}
                            <option value="{{label}}">{{label}}</option>
                            {{/each}}
                    </select>
                    <label class="mdc-floating-label">Pick a User</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>

            <div class="mdc-form-group">
                <button class="mdc-button mdc-button--raised" type="submit">
                    <span class="mdc-button__label">Sign</span>
                </button>
            </div>
        </form>
   </div>
   {{/unless}}
</div>

<a href="/">Back</a>
